
.homepage_cards{
    /* display: flex;
    flex-direction: row; */
    flex-wrap: wrap;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
}
.homepage_cards:hover,
.homepage_cards:focus{
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;

}
.button_section{
    margin-top: 4em;
}