
.see_more{
    background-color: #09B3B0;
    color: black;
}
.see_more:hover{
    background-color: #FF9F00;

}
.card_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}