.event_cards{
    display: flex;
    flex-direction: column;
}
.card_body{
    display: flex;
    flex-direction: column;
}
.button_section {
    display: flex;
    gap: 10%;
    margin-top: 10px;
  }
.more_details{
    background-color: #FF9F00;
}
.update{
    background-color: #09B3B0;
    

}
.delete{
    background-color: #ff0f0f;
    
}

.more_details, .delete, .update {
    color: black;
    border-style: groove;
    border-width: 2%;
    border-color: wheat;

}