.logo { /* Adjusted for better visibility */
    width: auto;
    height: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000; 
}

.d-flex {
    margin-left: 3.5%; 
}

.me-auto {
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.me-auto .nav-link {
    color: #09B3B0 ; 
}
