.logo{
    height: 20%;
    width: 15%;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    position: absolute;
    left: 0%;
    padding-left: 0%;
    width: 100%;
}
.d-flex{
    margin-left: auto;
}
.me-auto .nav-link{
    display: flex;
    color: #09B3B0;
    gap: 10%;
}
.me-auto{
    margin-left: 40%;
    

}