.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .card_section {
    flex: 15em; 
  }
  
  .event_card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 2%;
    gap: 5em;
  }
  